.font_red {
  color: #F52F2F;
}
.font24 {
  font-size: 24px;
}
.font_style {
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 8px  4px #bfbfbf;
}
.display_flex {
  display: flex;
}
.flex_row {
  flex-direction: row;
}